/*
**************************
font-family: 'Nunito', sans-serif;

ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800



COLOR

background: #fff6e6
outline: #29414b
**************************
*/

.App {
  margin: 0;
  background-color: #fff6e6;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-underline-offset: .25rem;
  
}

